* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(150deg, #f1baff, #d9abff, #a7a7ff);
    min-height: 100vh;
}

header, .container {
    height: 10vh;
    position: relative;
}

.container {
    width: 70vw;
    margin: auto;
}

header div h1 {
    font-family: 'Rubik One', sans-serif;
    font-size: 5vh;
    text-transform: uppercase;
    background: linear-gradient(90deg, #7d41ff, #a841fd, #d83eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    padding-top: 2.5vh;
}
